<style>
    :root{
        --maxH:970px;
    }
    #content-all{
        height:100%;

    }

    table.structure{
        width:100%;
        border-collapse: collapse;
    }

    .header{
        background:rgb(0, 255, 242);
        height:100px;

    }
    .block{
        background:#0001;
        height:870px;
    }

    
</style>
<section id="content-all">
    <table border="1" class="structure">
        <tr>
            <td colspan="2" class="header">

                header
            </td>
        </tr>
        <tr>
            <td class="block">
                foto
            </td>
            <td>
                nombre
            </td>
        </tr>
    </table>
</section>
