@import url('//raw.githubusercontent.com/necolas/normalize.css/master/normalize.css');

@import url(root.css);


body{
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100vw;
    height:100vh;
    overflow:scroll;
    background-color:var(--body-bg-color);
}

*{
    box-sizing: border-box;
    print-color-adjust:exact;
    -webkit-print-color-adjust:exact;
}

a, button, input, textarea{
    color:inherit;
    text-decoration: none;
    outline:none;
    border:none;
    font-family: inherit;
    font-size: inherit;
    resize:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.border{
    border:solid 1px;
}

.pad0{ padding:0; }
.pad5{ padding:5px; }
.pad10{ padding:1px; }
.pad15{ padding:15px; }
.pad1015{ padding:10px 15px; }
.pad1510{ padding:15px 10px; }

.mar0{ margin:0; }
.mar5{ margin:5px; }
.mar10{ margin:1px; }
.mar15{ margin:15px; }
.mar1015{ margin:10px 15px; }
.mar1510{ margin:15px 10px; }
::-webkit-scrollbar{
    display:none;
}



.full{
    width:100vw;
    height:100vh;
    border:solid 1px red;
    display:block;
    background-attachment: fixed;
    position:sticky;
    top:0;
    overflow:scroll;
}

.full .info{
    background:#fff9;
    position:relative;
    margin-top:100vh;
    margin-bottom:50vh;
}

.btn-secondary{
    background:transparent;
    color:var(--primary);
    cursor:pointer;
    border: solid 1px;
    border-radius: 5px;
    margin:0 0 auto auto;
}


.hoja.a4{
    min-width:var(--a4w);
    width:var(--a4w);
    max-width:var(--a4w);
    min-height:var(--a4h);
    height:var(--a4h);
    max-height:var(--a4h);
    background:#fff;
    margin:0 auto 5px auto;
    position:relative;
    overflow:hidden;
    
}
.switch {
    --circle-dim: 10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 1px;
    bottom: 2px;
    transition: .4s;
    pointer-events: none;
  }
  
  .slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
  }
  
  .slider-card-front {
    background-color: #fff;
  }
  
  .slider-card-back {
    background-color: var(--primary);
    transform: rotateY(180deg);
  }
  
  input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
  }
  
  input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
  }
  
  input:checked ~ .slider-card {
    transform: translateX(7px);
  }
  
  input:checked ~ .slider {
    background-color: #fff;
  }

#a4:after {
    /* content:""; */
    position:absolute;
    width: calc(var(--a4w) + 2cm);
    height: calc(90px + 1cm);
    top:0;
    left:-1cm;
    background:var(--primaryColor);
    z-index:0;
}

.button-size-m{
    padding:5px 10px;
    border-radius:10px;
    font-size:1rem;
}

.button-size-s{
    padding:3px 7px;
    border-radius:3px;
    font-size:0.85rem;
}

.btn-secondary{
    background:transparent;
    color:var(--primary);
    border:solid 1px;
    
}

i.cabezera{
   position:relative;
} 

i.cabezera:after{
    content: "";
    border: solid 1px #0005;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 3px;
    bottom: 0;
    border-radius: 5px;
    background: #fff;
}
i.cabezera:before{
    content: "";
    background: #fff;
    width: 17px;
    height: 5px;
    display: inline-block;
    border-radius: 2px;

}

.expand i.cabezera:after{
    content: "";
    border: solid 1px #0005;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 3px;
    bottom: 0;
    border-radius: 5px;
    background: var(--primary);
}
.expand i.cabezera:before{
    content: "";
    background: var(--primary);
    width: 17px;
    height: 5px;
    display: inline-block;
    border-radius: 2px;

}

i.sombra{
    position:relative;
 } 
 
 i.sombra:after{
     content: "";
     border: solid 1px #0005;
     width: 5px;
     height: 5px;
     position: absolute;
     left: 3px;
     bottom: 0;
     border-radius: 5px;
     background: #fff;
 }
 i.sombra:before{
     content: "";
     background: #fff;
     width: 17px;
     height: 5px;
     display: inline-block;
     border-radius: 2px;
 
 }
 
 .expand i.sombra:after{
     content: "";
     border: solid 1px #0005;
     width: 5px;
     height: 5px;
     position: absolute;
     left: 3px;
     bottom: 0;
     border-radius: 5px;
     background: var(--primary);
 }
 .expand i.sombra:before{
     content: "";
     background: var(--primary);
     width: 17px;
     height: 5px;
     display: inline-block;
     border-radius: 2px;
 
 }


.content-fixed-buttons{
    position:fixed;
    display:grid;
    align-content: center;
    grid-gap: 10px;
    bottom:10px;
    left:10px;
}
.content-fixed-buttons button{
    border-radius:50px;
    width:40px;
    height:40px;
    box-shadow:0 0 4px #000;
    background:var(--primary);
    color:#fff;
    cursor:pointer;
    border:solid 1px #fff;
    transition:0.25ms;
    font-size:2rem;
    display:grid;
    align-content: center;
    text-align:center;
    padding:5px;
}
.content-fixed-buttons button i.fa{
    display: block;
    margin:0 auto;
}

.content-fixed-buttons button:hover{
    transform: scale(1.075);
}
.scann{
    overflow:hidden;
}
.hoja.scann:before{
    content:"";
    position:absolute;
    width:100%;
    height:200px;
    z-index: 2;
    left: 0;
    border-top: solid 2px #03e803;
    background-image: linear-gradient(to bottom, #03e803b0, transparent);
    animation: scannDoc 5s infinite ;
}



@keyframes scannDoc{
    0%{
        top:-200px;
        transform:rotateX(180deg);
     }
     49.99%{
        transform:rotateX(180deg);

     }
     50%{
        top:100%;
        
    }50.0001%{
        transform:rotateX(0deg);

    }
    99.99%{
        transform:rotateX(0deg);

    }
    100%{
        top:-200px;
        transform:rotateX(180deg);

    }

}


.box{
    background-color: var(--box-bg-color);
}

i.fa, i.fas, i.far, i.fab{
    transform:scale(0.75);
    margin-top:0.25%;
}

.hoja{
    background:#fff;
    margin:0 auto;
}

.border{
    border:var(--border);
}

.border-color{
    border:var(--borderColor);
}

.blocked{
    border-radius:5px;
    box-shadow:0 0 10px -5px #000;
    padding:5px 10px;
}

.legal{
    width:var(--legalW);
    height:var(--legalH);
}

.letter{
        width:var(--letterW);
        height:var(--letterH);
}


    #save_pdf:after{
    content: "Descargar";
    display: inline-block;
    position: absolute;
    background: var(--primary);
    border: solid 1px #fff;
    border-radius: 50px;
    left: calc(100% + 10px);
    padding: 0 15px;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.5s;
    opacity:0;
    z-index:-1;
}

#save_pdf:hover:after{
    transform: translateX(0%);
    visibility: visible;
    opacity:1;
}



.accordion h2{
    background:transparent;
    border:none;
    color:#fff;

}

.accordion > div{
    background:transparent;
    color:#fff;
    border:none;
    max-height: max-content;
}

.accordion .ui-accordion-content-active,
    .accordion .ui-state-active{
    background:#fff2;
    
}

.accordion .margins p{
    display:grid;
    grid-template-columns:55% 20% 20%;
    grid-gap:5px;

}

.accordion .margins p input,
    .accordion .margins p select{
    background:#fff1;
    color:#fff;
    border:none;
}

.accordion .margins p select option{
    color:#333;
}

.header-adjust{
    border:solid 1px red;
}

.header-align{
    border:solid 1px #fff2;
    margin:5px auto;
    padding:5px 10px 15px 5px;
    border-radius:10px;
    cursor:pointer;
}

.header-align:hover{
    background:#fff2;
    cursor:pointer;

}

.header-type-select{
    background-color: #fff2;
}

    .header-type{
    height: 20px;
    border-radius: 3px;
    width: 100px;
    position: relative;
    background: #87a4b3;
    margin: 15px auto 5px;

}

.header-type-pic-left{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #295870;
    border-radius: 100%;
    bottom: 0;
    transform: translateY(50%);
    left: 10px;
    border: solid 2px #fff;
    box-shadow: 0 0 5px #0005;
}

.header-type-pic-right{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #295870;
    border-radius: 100%;
    bottom: 0;
    transform: translateY(50%);
    right: 10px;
    border: solid 2px #fff;
    box-shadow: 0 0 5px #0005;
}

.accordion h4 span{display:none;}
.accordion h4 {
    color:#fff;
    background: transparent;
    border:none;
}

.accordion h4 div a{
    color:#fff;
}

.accordion h4 div a:hover{
    color:var(--primary);
}


form .celda{
    position: relative;
    padding-top: calc(0.9rem + 10px);
    display:inline-block;
    min-width:100px;
    max-width:200px;
    text-align:left;
}

form .celda.w100{
    width:100%;
}

form .celda span{
    position: absolute;
    font-size: 0.9rem;
    top: 5px;
    left: 10px;
    margin: 0;
    padding: 0;
    color:#b9b9b9;
}
form .celda input{
    background: transparent;
    border-bottom: solid 1px #535353;
    color:#fff;
}

form .celda textarea{
    background: transparent;
    border: solid 1px #535353;
    color:#fff;
    width:100%;
    resize:auto;
    display:block;
    border-radius:5px;
}

form .celda:hover > span{
    color:var(--primary);
}

form .celda:hover > input{
   border-bottom:solid 1px #fff;
}

.success, .error{
    position: fixed;
    top: var(--headerH);
    width: 50%;
    background: #bef2d3;
    margin: 0 auto;
    z-index: 9999999999;
    left: 0;
    right: 0;
    margin-top: 10px;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 15px -5px;
}

.success i.fa-check, .error i.fa-times{
    color:#000;
}


.success{} 
.error{}
