#rightMenu{
    position:absolute;
    width:calc((100vw - var(--maxSizeBlock))/2 - 10px );
    /* top:calc(var(--headerH) + 5px); */
    top:0;
    padding:10px 5px;
    color:#fff;
    right:5px;
    bottom:5px;
    /* border:solid 1px red; */
    background-color: #fff1;
    max-width:200px;
}


#rightMenu .submit-button{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:10px 0;
    font-size: 1.3rem;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    border:solid 1px ;
}


#rightMenu > button{
    border-bottom:solid 1px #fff1;
    background:transparent;
    width: 100%;
    text-align:left;
}

#rightMenu > button > i.contract{
    position:absolute;
    right:10px;
    color:#fff1;
}

#rightMenu > section{
    /* border:solid 1px #fff; */
    padding:0px 5px;
    transition:0.25s all ease-in-out;
    background:#fff1;
    height:0;
    overflow: hidden;
    opacity: 0;
    font-size:0.85rem;
}

#rightMenu > section > :nth-child(1n):hover{
    color:var(--primary);
}

    #rightMenu > section > :nth-child(1n) i{
    margin-right:10px;
}

#rightMenu > section .paper{
    /* border:solid 1px; */
    background-color:#fff9;
    color:#0009;
    width:50px;
    height:70px;
    display:inline-grid;
    align-content: center;
    text-align:center;
    margin:0 auto;
}

#rightMenu > section .paper.selected{
    color:var(--primary);
    background:#fff;
}

#rightMenu button.expand{
    background:#fff1;
    color:var(--primary);
    border-radius:5px 5px 0 0;
}
#rightMenu section.expand{
    padding: 10px 5px;
    opacity: 1;
    transition:0.25s all ease-in-out;
    height: max-content !important;
    border-radius:0 0 5px 5px;
    margin-bottom:5px;
}

#rightMenu .slid.colors p{
    display: grid;
    grid-template-columns: auto min-content;
}

#rightMenu .slid.header input{
    width:20px;
    height:20px;
    border-radius:100%;
}

input[type="color"]{

    padding:0;
    width:25px;
    height:25px;
    border-radius:100%;
    overflow:hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

