#statistics{
    display:flex;
    gap:10px;
    padding:10px;
    overflow-y:hidden;
    overflow-x:auto;
    scroll-snap-type: x;
    scroll-snap-align: start;
}

#statistics article{
    border-radius:10px;
    box-shadow:0 0 5px #0005;
    padding:10px;
    min-width:100px;
    max-width:max-content;
    background-color: var(--box-bg);

}

#statistics article .title{
    opacity:0.75;
}
#statistics article div{
    font-size:1.5rem;
    font-weight: 600;
    text-align:center;
}
#statistics article .descript{
    font-size:11px;
    opacity:0.75;

}


